! reload this file with xrdb ~/.Xresources

!! URxvt Appearance
! get fonts with fc-list
URxvt.font: xft:VictorMono-Regular
URxvt.boldFont: xft:VictorMono-Bold
URxvt.italicFont: xft:VictorMono-Italic
URxvt.boldItalicfont: xft:VictorMono-BoldItalic
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 20
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
!URxvt.depth: 24
URxvt.iso14755: false

*.foreground:   #d5d9cd
*.background:   #0f151f
*.cursorColor:  #3c5d6d

*.color0:       #0f151f
*.color1:       #7E7D76
*.color2:       #B4AD78
*.color3:       #4C7589
*.color4:       #648D96
*.color5:       #6399B6
*.color6:       #9FAB97
*.color7:       #d5d9cd
*.color8:       #95978f
*.color9:       #7E7D76
*.color10:       #B4AD78
*.color11:       #4C7589
*.color12:       #648D96
*.color13:       #6399B6
*.color14:       #9FAB97
*.color15:       #d5d9cd
