! reload this file with xrdb ~/.Xresources

!! URxvt Appearance
! get fonts with fc-list
URxvt.font: xft:VictorMono-Regular
URxvt.boldFont: xft:VictorMono-Bold
URxvt.italicFont: xft:VictorMono-Italic
URxvt.boldItalicfont: xft:VictorMono-BoldItalic
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 20
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
!URxvt.depth: 24
URxvt.iso14755: false

*.foreground:   #e5c6a4
*.background:   #0d1112
*.cursorColor:  #37484e

*.color0:       #0d1112
*.color1:       #6F655A
*.color2:       #455B62
*.color3:       #4D6269
*.color4:       #8F653A
*.color5:       #937558
*.color6:       #B1875D
*.color7:       #e5c6a4
*.color8:       #a08a72
*.color9:       #6F655A
*.color10:       #455B62
*.color11:       #4D6269
*.color12:       #8F653A
*.color13:       #937558
*.color14:       #B1875D
*.color15:       #e5c6a4
